{% extends 'base.html' %}
{% block content %}
<h2>Delete Transaction</h2>

<p>Are you sure you want to delete this transaction?</p>

<ul>
  <li>Date: {{ transaction.date }}</li>
  <li>Amount: {{ transaction.amount }}</li>
  <li>Type: {{ transaction.get_entry_type_display }}</li>
  <li>Category: {{ transaction.category }}</li>
  <li>Description: {{ transaction.description }}</li>
</ul>

<form method="post">
    {% csrf_token %}
    <button type="submit" style="color: white; background-color: red;">Delete</button>
    <a href="{% url 'finance:dashboard' %}">Cancel</a>
</form>
{% endblock %}
